@inherits UmbracoTemplatePage
@using System.Globalization
@{
    Layout = "Velocity.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
    var bannerId = Umbraco.Media(CurrentPage.imagesMedia); //banner.image is the property id.
    var bannerUrl = bannerId.Url;
}

<div class="content-wrapper">
    <div class="item-container">
        <div class="container">
            <div class="col-sm-4">
                <div class="row">

                    <div class="col-sm-12 text-center">
                        <div class="thumbnail">
                            <img src="@bannerUrl" alt="Image">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xs-4"> <a href="#" class="thumbnail"> <img src="@bannerUrl" alt="thumb"> </a> </div>
                    <div class="col-sm-6 col-md-4 col-xs-4"> <a href="#" class="thumbnail"> <img src="" alt="thumb"> </a> </div>
                    <div class="col-sm-6 col-md-4 col-xs-4"> <a href="#" class="thumbnail"> <img src="" alt="thumb"> </a> </div>
                </div>
            </div>
            <br />
            <div class="col-sm-8">
                <div class="page-header">
                    <h1>@pageTitle <small> @(String.Format(new CultureInfo("en-GB"), "{0:C}", CurrentPage.price) ) </small></h1>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="product-desc">@CurrentPage.mainSummary</div>
                    <hr>
                </div>
            </div>
        </div>
        <br />
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">FULL DESCRIPTION</a></li>
                    <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                    <li><a href="#service-three" data-toggle="tab">LOCATION</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <section class="container product-info">
                            @CurrentPage.fullDescription
                        </section>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <section class="container"></section>
                    </div>
                    <div class="tab-pane fade" id="service-three">

                    </div>
                    <hr><div id="map-wrapper">
                        <div id="google-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
    <script>
var map, marker;

function initMap() {

	var mapOptions = {
	  center: new google.maps.LatLng( 51.5286416,-0.1015987),
	  zoom: 12,
	  scrollwheel: false,
	  streetViewControl: true,
		disableDefaultUI: true
	};

	map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

    	var customIcon = new google.maps.MarkerImage(
		'http://www.tpayneandco.co.uk/wp-content/themes/realty/lib/images/map-marker/map-marker-gold-fat.png',
		null, // size is determined at runtime
	  null, // origin is 0,0
	  null, // anchor is bottom center of the scaled image
	  new google.maps.Size(50, 69)
	);
			var markerClusterOptions = {
		gridSize: 60, // Default: 60
		maxZoom: 14,
		styles: [{
			width: 50,
			height: 50,
			url: "http://www.tpayneandco.co.uk/wp-content/themes/realty/lib/images/map-marker/map-marker-gold-round.png"
		}]
	};
			var marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng( 51.5286416,-0.1015987),
    icon: customIcon,
    title: 'Early viewings are essential on this 3 bedroom modern semi detached house.',
		  });

	var propertyThumbnail = '<img width="300" height="225" src="http://www.tpayneandco.co.uk/wp-content/uploads/2017/01/DSC03971-300x225.jpg" class="attachment-medium wp-post-image" alt="dsc03971" />';
	var propertyThumbnail=propertyThumbnail.replace(/'/g, '&quot;');
    var propertyPrice = '£190,000';
    var propertyPrice=propertyPrice.replace(/'/g, '&quot;');
    var propertyTitle = '<h5 class="title">Early viewings are essential on this 3 bedroom modern semi detached house.</h5>';
    var propertyTitle=propertyTitle.replace(/'/g, '&quot;');
	// http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/reference.html
	var infobox = new InfoBox({
	  content: 	'<div class="map-marker-wrapper">'+
    						'<div class="map-marker-container">'+
	    						'<div class="arrow-down"></div>'+
									propertyThumbnail+
									'<div class="content">'+
									propertyTitle+
									propertyPrice+
									'</div>'+
								'</div>'+
					    '</div>',
	  disableAutoPan: false,
	  pixelOffset: new google.maps.Size(-33, -90),
	  zIndex: null,
	  alignBottom: true,
	  closeBoxURL: "http://www.tpayneandco.co.uk/wp-content/themes/realty/lib/images/close.png",
	  infoBoxClearance: new google.maps.Size(50, 50)
	});
		//alert("got latlng");
	function getLatLng(callback) {
		latLng = new google.maps.LatLng(52.4484483, 0.04582349999998314);
		callback(latLng);
	}

  getLatLng(function(latLng) {

	  marker.setPosition(latLng);
	  map.setCenter(latLng);
	  map.setZoom(14);
   	google.maps.event.addListener(marker, 'click', function() {
	  	infobox.open(map, marker);
	    map.panTo(latLng);
		});

  });

	// Maps Fully Loaded: Hide + Remove Spinner
	google.maps.event.addListenerOnce(map, 'idle', function() {
		jQuery('.spinner').fadeTo(800, 0.5);
		setTimeout(function() {
		  jQuery('.spinner').remove();
		}, 800);
	});


}

google.maps.event.addDomListener(window, 'load', initMap);
google.maps.event.addDomListener(window, 'resize', initMap);

    </script>