@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Velocity.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
    var propertyOverview = homePage.umbPropertyOverviews.First();

    // Similar to above: find all pages with document type umbNewsItem under the news overview page
    var propertyItems = propertyOverview.umbPropertyDetails;


}

@Umbraco.RenderMacro("ezSearch", new { rootContentNodeId = "1402", rootMediaNodeId = "", indexType = "CONTENT", searchFields = "regionID, availability, Availability, addressNumber ", previewFields = "pageTitle, images, availabilty", previewLength = "", pageSize = "9", hideFromSearchField = "", searchFormLocation = "TOP" })

@*<div class="col-sm-12">
    
    <div id="property-search-results" data-view="grid-view">
        <div id="property-items" class="show-compare" data-view="grid-view" style="opacity: 1;">*@
            @*<header>
                <h2>@pageTitle</h2>
                <p>@Umbraco.Field("bodyText", recursive: true)</p>
            </header>*@
            <div class="search-results-header clearfix">
                <div class="hidden-xs pull-right">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#"><i class="fa fa-th-large"></i> Grid</a></li>
                        <li role="presentation"><a href="#"><i class="fa fa-th-list"></i> Profile</a></li>
                        <li role="presentation"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</a></li>
                    </ul>
                </div>
                <div class="search-results-order clearfix">
                    <div class="form-group select">
                        <select name="order-by" id="orderby" class="form-control" style="display: none;">
                            <option value="date-new" selected="selected">Sort by Date (Newest First)</option>
                            <option value="date-old">Sort by Date (Oldest First)</option>
                            <option value="price-high">Sort by Price (Highest First)</option>
                            <option value="price-low">Sort by Price (Lowest First)</option>
                            <option value="name-asc">Sort by Name (ascending)</option>
                            <option value="name-desc">Sort by Name (descending)</option>
                            <option value="random">Random</option>
                        </select><div class="chosen-container chosen-container-single" style="width: 100%;" title="" id="orderby_chosen"><a class="chosen-single" tabindex="-1"><span>Sort by Date (Newest First)</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
                    </div>
                </div>
                <p class="pull-left">181 Properties found.</p>
                <br>
            </div>
            <div class="row features">
                @foreach (var item in propertyItems)
                {
                    <section class="4u 12u(narrower) feature property-item grid">
                        <div class="image-wrapper first">
                            <a href="#" class="image featured">
                                <img src="@item.images" alt="">
                                @if (item.Availabilty == "2")
                                {
                                    <div class="corner_banner"><h2>sold stc</h2></div>
                                }
                            </a>
                        </div>
                        <header>
                            <h3>@item.DisplayAddress</h3>
                        </header>
                        <p>@Umbraco.Truncate(item.MainSummary, 100)</p>
                        <div class="property-content">
                            <div class="property-meta">
                                <div>
                                    <div class="meta-title"><i class="fa fa-camera"></i></div>
                                    <div class="meta-data" title="" data-original-title="Photos">
                                        1
                                    </div>
                                </div>
                                <div>
                                    <div class="meta-title"><i class="fa fa-bed"></i></div>
                                    <div class="meta-data" data-toggle="" title="">@item.PropertyBedrooms Bedrooms</div>
                                </div>
                                <div>
                                    <div class="meta-title"><i class="fa fa-bath"></i></div>
                                    <div class="meta-data" title="">1 Bathroom</div>
                                </div>
                                <div>
                                    <div class="meta-title"><i class="icon icon_floorplan"></i></div>
                                    <div class="meta-data" title="" data-original-title="Floorplan">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="property-price">
                                <span class="property-status" data-toggle="" title="" data-original-title="Status">Sold STC</span>

                                <div class="price-tag">£@string.Format("{0:##0.00}", item.Price)</div>
                            </div>

                        </div>
                    </section>

                }
            </div>
        @*</div>
    </div>
</div>*@
<script>
$('.nav-tabs a').on('click',function(e) {
    if ($(this).hasClass('grid')) {
        //$('#container ul').removeClass('list').addClass('grid');
        $('section .feature property-item').removeClass('list').addClass('grid');'

    }
    else if($(this).hasClass('list')) {
        $('#container ul').removeClass('grid').addClass('list');
    }
});
</script>